gradle
gradlew
.gradle
/java/build
/java/.settings
/java/.project
/java/.classpath
/java/helloworld.log
/java/.gitignore
/golden/dto/.settings
/golden/dto/*.classpath
/golden/dto/*.project
/golden/entity/.classpath
/golden/entity/.project
/golden/entity/.settings/org.eclipse.jdt.core.prefs
/golden/repository/.classpath
/golden/repository/.project
/golden/repository/.settings/org.eclipse.jdt.core.prefs
/golden/repository/.settings
/golden/business/.classpath
/golden/business/.project
/golden/business/.settings/org.eclipse.jdt.core.prefs
/golden/facade/.classpath
/golden/facade/.project
/golden/facade/.settings/org.eclipse.jdt.core.prefs
/golden/rest/.classpath
/golden/rest/.project
/golden/rest/.settings/org.eclipse.jdt.core.prefs
/golden/business/build/libs
/golden/business/build/tmp/jar
/golden/entity/build/libs
/golden/entity/build/tmp/jar
/golden/repository/build/libs
/golden/repository/build/tmp/jar
/golden/dto/build/classes/main/com/tasc/golden/poc/dto/*.class
/golden/dto/build
/golden/business/build
/golden/entity/build
/golden/facade/build
/golden/repository/build
/golden/rest/build
